@font-face {
	font-family: "montserrat-regular";
	src: url(../assets/fonts/montserrat/static/Montserrat-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "montserrat-bold";
	src: url(../assets/fonts/montserrat/static/Montserrat-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "courier-prime-regular";
	src: url(../assets/fonts/courier-prime/CourierPrime-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "courier-prime-bold";
	src: url(../assets/fonts/courier-prime/CourierPrime-Bold.ttf);
	font-style: normal;
	font-weight: bold;
}