@import "_variables";
@import "_mixins";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	transition: all .4s ease;
}

body{
	overflow-x: hidden;
}

.main {
	max-width: 1920px;
	margin: 0 auto;
	background-color: $color-black;
}

.title-main {
	font-weight: 700;
	font-size: 36px;
	text-transform: uppercase;
	@include font-title;
}