@import "_mixins";
@import "_fonts";
@import "_variables";
@import "_global";

.container{
    width: 1199px;
    margin: 0 auto;
}

.header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    &__logo{
        display: flex;
        align-items: center;

        &-text{
            margin-left: 14px;
            @include font-title-secondary(36px, $color-gray, 500);
        }
    }

    &__nav{
        display: flex;
        text-align: center;
        &-menu{
            display: flex;
            justify-content: space-around;
            &-link{
                @include font-title(16px, $color-gray, 700);
                &:hover{
                    color: $color-yellow;
                }
            }
            &-item{
                margin: 0 20px;
            }
        }
    }

    &__tel{
        display: flex;
        align-items: center;
        @include font-main(16px, $color-gray);
        &-text{
            margin-left: 15px;
        }
        &:hover{
            color: $color-yellow;
        }
    }
}

.promo-slider{
    height: 100vh;
}

.promo-slide{
    display: flex;
    flex-direction: column;
    justify-content: left;
    &-wrap{
        width: 780px;
    }
    &__title{
        @include font-title(48px, $color-gray-light, 700);
        text-transform: uppercase;
    }
    &__text{
        @include font-main-bold(24px, $color-gray-main);
        margin-top: 20px;
    }
    &__link{
        //display: inline-block;
        // width: 140px;
        // height: 46px;
        background-color: $color-green;
        @include font-main-bold(14px, $color-black);
        //text-align: center;
        padding: 15px 30px;
    }
}

.promo-slider{
    padding-top: 140px;
    background-image: url("../assets/images/promo-sllider/slide-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}