@import "_mixins";
@import "_fonts";
@import "_variables";
@import "_global";

.container{
    width: 1199px;
    margin: 0 auto;
}

.header{
    height: 130px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    &__logo{
        display: flex;
        align-items: center;

        &-text{
            margin-left: 14px;
            @include font-title-secondary(36px, $color-gray, 500);
        }
    }

    &__nav{
        display: flex;
        text-align: center;
        &-menu{
            display: flex;
            justify-content: space-around;
            &-link{
                @include font-title(16px, $color-gray, 700);
                &:hover{
                    color: $color-yellow;
                }
            }
            &-item{
                margin: 0 20px;
            }
        }
    }

    &__tel{
        display: flex;
        align-items: center;
        @include font-main(16px, $color-gray);
        &-text{
            margin-left: 15px;
        }
        &:hover{
            color: $color-yellow;
        }
    }
}

.promo-slide{
    &--active{
        position: static;
        transform: translateX(0);
        //opacity: 1;
        display: flex;
        transition: all 1s ease-in-out;
    }
    //opacity: 0;
    //display: none;
    transition: all 1s ease-in-out;
    position: absolute;
    transform: translateX(5000px);
    flex-direction: column;
    justify-content: left;
    &-wrap{
        width: 780px;
    }
    &__title{
        @include font-title(48px, $color-gray-light, 700);
        text-transform: uppercase;
    }
    &__text{
        @include font-main-bold(24px, $color-gray-main);
        margin-top: 20px;
        span{
            display: flex;
            align-self: flex-end;
            color: $color-yellow;
        }
    }
    &__link{
        margin-top: 60px;
        margin-right: 10px;
        display: inline-block;
        min-width: 220px;
        text-align: center;
        background-color: $color-green;
        @include font-main-bold(14px, $color-black);
        text-transform: uppercase;
        padding: 15px 30px;
        border-radius: 3px;
        &:last-child{
            background-color: $color-yellow;
        }
        &:hover{
            transform: scale(1.05);
        }
    }
}

.promo-slider{
    padding-top: 140px;
    background-image: url("../assets/images/promo-sllider/slide-1.jpg");
    transition: all 1s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    &__wrap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__nav{
        margin-top: 150px;
        display: flex;
        justify-content: space-between;
    }
    &__dot{
        cursor: pointer;
        display: inline-block;
        width: 36px;
        height: 5px;
        background-color: $color-gray-dark;
        border-radius: 100px;
        margin-right: 10px;
        &--active{
            background-color: $color-yellow;
            cursor: default;
        }
    }

    &__arrows{
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        &-wrap{
            margin-right: 50px;
        }
    }
    &__arrow{
        cursor: pointer;
        display: inline-block;
        width: 53px;
        height: 12px;
        margin: 0 30px;
        text-align: center;
        // &:last-child{
        //     transform: rotate(180deg);
        // }
        &:hover{
            svg path{
                stroke: $color-yellow;
            }
        }
    }
    &__counter{
        @include font-title-secondary(24px, $color-gray-light, 400);
        word-spacing: 25px;
        &-wrap{
            min-width: 200px;
        }
    }
}